* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}
.task-input {
  width: 400px;
  height: 50px;
}
.flex-input {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}
input {
  width: 100%;
  height: 45px;
  border-radius: 9px;
  border: 2px solid skyblue;
  padding: 0px 40px;
  font-size: 20px;
}
button {
  width: 135px;
  height: 35px;
  margin-top: 0.3rem;
  background: rgb(226, 94, 226);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.wrapper {
  margin-top: 3rem;
}
.text{
  position: relative;
  width: 100%;
  height: 45px;
  border-radius: 9px;
  border: 2px solid skyblue;
  padding: 10px 40px;
  font-size: 20px;
}


@media(max-width:420px){
  .task-input{
     width: 200px;
     padding-right: 330px;
  }
  input{
    width: 300px;
  }
  .flex-input {
     display: grid;
  }
  .wrapper{
    display: grid;
  }
  .text{
    width: 300px;
  }
}